body {
  margin-top: 30px;
  font-size: 13px;
}

#content {
  width: 70%;
  margin: auto;
}

#connexionButton {
  margin: 1em;
}

#informationsBlock {
  margin: 1em;
}

#etherpadBlock {
  margin: 1em;
}